n8n/workflow.json
{
  "name": "FortuneTab Premium Report Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fortunetab-report",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true,
          "allowedOrigins": "*"
        }
      },
      "id": "node-webhook",
      "name": "Webhook · from Supabase",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        320
      ],
      "webhookId": "fortunetab-report"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// 이 코드는 n8n/hmac-verify.js를 복붙한 것입니다. 원본 수정 시 동기화 필요.\nconst crypto = require('crypto');\nconst WEBHOOK_SECRET = $env.WEBHOOK_SHARED_SECRET ?? $vars?.WEBHOOK_SHARED_SECRET ?? '';\nif (!WEBHOOK_SECRET) throw new Error('WEBHOOK_SHARED_SECRET 미설정');\n\nconst input = $input.item.json ?? {};\nconst headers = input.headers ?? {};\nconst signature = headers['x-webhook-signature'] ?? headers['X-Webhook-Signature'] ?? '';\nif (!signature) throw new Error('X-Webhook-Signature 헤더 누락');\n\nlet bodyStr;\nconst binary = $input.item.binary?.data;\nif (binary?.data) {\n  bodyStr = Buffer.from(binary.data, 'base64').toString('utf8');\n} else if (typeof input.body === 'string') {\n  bodyStr = input.body;\n} else if (input.body && typeof input.body === 'object') {\n  bodyStr = JSON.stringify(input.body);\n} else {\n  bodyStr = JSON.stringify(input);\n}\n\nconst expected = crypto.createHmac('sha256', WEBHOOK_SECRET).update(bodyStr, 'utf8').digest('hex');\nconst a = Buffer.from(signature, 'hex');\nconst b = Buffer.from(expected, 'hex');\nif (a.length !== b.length || !crypto.timingSafeEqual(a, b)) {\n  throw new Error(`HMAC 불일치 got=${signature.slice(0,12)}... expected=${expected.slice(0,12)}...`);\n}\nconst payload = typeof input.body === 'object' ? input.body : JSON.parse(bodyStr);\nreturn [{ json: payload }];"
      },
      "id": "node-hmac",
      "name": "HMAC 검증",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        320
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Claude ReportInput 구성 (5개 Sonnet 호출 공통 입력)\n// n8n/claude-prompts.js 의 buildSonnetRequest에 전달할 형식.\nconst p = $input.item.json;\nconst currentDate = new Date().toISOString().slice(0, 10);\nconst currentYear = new Date().getFullYear();\n\nconst reportInput = {\n  order_number: p.order_number,\n  user: {\n    name: p.user?.name ?? (p.saju_data?.name) ?? '고객',\n    gender: p.user?.gender ?? p.saju_data?.birthGender ?? 'male',\n    birth_date: p.user?.birth_date ?? p.saju_data?.birthDate ?? null,\n    birth_time: p.user?.birth_hour ?? p.saju_data?.birthTime ?? '자시',\n  },\n  current_year: currentYear,\n  current_date: currentDate,\n};\n\nif (!reportInput.user.birth_date) {\n  throw new Error('birth_date 없음. Edge Function payload 확인 필요.');\n}\n\nreturn [{\n  json: {\n    order_id: p.order_id,\n    order_number: p.order_number,\n    callback: p.callback,\n    report_input: reportInput,\n  },\n}];"
      },
      "id": "node-input-builder",
      "name": "ReportInput 구성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        320
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "/**\n * FortuneTab — Claude 리포트 생성 프롬프트 (5 Sonnet + 1 Haiku 검수)\n *\n * ◆ 사용처\n *   n8n Code 노드에 이 파일 통째로 붙여넣고,\n *   `buildSonnetRequest('saju_core', input)` 또는 `buildHaikuReviewRequest(sections)`를 호출해\n *   Anthropic API에 보낼 request body를 얻는다.\n *\n * ◆ 모델 (FortuneTab 정책)\n *   Sonnet: claude-sonnet-4-6  (깊이 있는 해석)\n *   Haiku:  claude-haiku-4-5-20251001  (포맷/금지어/면책 검수)\n *\n * ◆ 프롬프트 캐싱\n *   system 배열의 두 번째 블록(PROFILE_BLOCK)에 cache_control: ephemeral 설정.\n *   같은 주문의 5개 Sonnet 호출에서 프로필 블록 재활용 → 입력 토큰 ~90% 절감.\n *\n * ◆ 입력 스키마 (ReportInput)\n *   {\n *     order_number: string,              // 'FT-20260421-WSWF'\n *     user: {\n *       name: string,                    // '박성준'\n *       gender: 'male' | 'female',\n *       birth_date: string,              // 'YYYY-MM-DD' 양력 기준\n *       birth_time: string | number      // '묘시' 또는 0~23 숫자\n *     },\n *     current_year: number,              // 2026\n *     current_date: string               // ISO 'YYYY-MM-DD' — Claude 해석 기준일\n *   }\n *\n * ◆ 출력 JSON 스키마\n *   각 섹션마다 엄격한 스키마 지정. Claude는 반드시 JSON only 반환.\n *\n * ◆ 드리프트 주의\n *   이 파일의 프롬프트를 수정하면 `n8n/workflow.json`의 Code 노드 내용도 동기화 필요.\n *   프롬프트는 한 곳(이 파일)에서만 관리하고, workflow.json은 이 파일을 require/붙여넣기.\n */\n\n// ════════════════════════════════════════════════════════════════════════════\n// 사주 자립 계산기 (saju-core 포팅 — Claude 사전 주입용)\n//\n// 왜 여기에 두는가: n8n Code 노드는 이 파일 전체를 붙여넣어 실행한다.\n// 서버(Edge Function)와 따로 가지 않고, 같은 결정적 값을 5개 Sonnet 호출 전에\n// 한 번 계산해 PROFILE_BLOCK에 주입한다. Sonnet이 절대 재계산하지 못하게 룰도\n// 강화한다 → 섹션 간 일간/일주/대운 불일치 버그(2026-04-24 FT-KA2E 실증) 차단.\n//\n// 원본: src/lib/fortune/saju-core.ts + saju-advanced.ts + constants.ts\n// 동기화 원칙: 이 블록을 수정할 때 원본도 함께 맞출 것. 함수 사인을 JS화만 함.\n// ════════════════════════════════════════════════════════════════════════════\n\nconst _STEMS_KO   = ['갑','을','병','정','무','기','경','신','임','계'];\nconst _STEMS_HJ   = ['甲','乙','丙','丁','戊','己','庚','辛','壬','癸'];\nconst _STEMS_ELEM = ['목','목','화','화','토','토','금','금','수','수'];\nconst _STEMS_YIN  = [false,true,false,true,false,true,false,true,false,true];\n\nconst _BRANCHES_KO   = ['자','축','인','묘','진','사','오','미','신','유','술','해'];\nconst _BRANCHES_HJ   = ['子','丑','寅','卯','辰','巳','午','未','申','酉','戌','亥'];\nconst _BRANCHES_ELEM = ['수','토','목','목','토','화','화','토','금','금','토','수'];\nconst _BRANCH_MAIN_STEM = [9,5,0,1,4,2,3,5,6,7,4,8];\n\n// 월주 시작 천간 (연간%5 → 인월 시작 천간)\nconst _MONTH_START_STEM = [2,4,6,8,0];\n// 시주 시작 천간 (일간%5 → 자시 시작 천간)\nconst _HOUR_START_STEM  = [0,2,4,6,8];\n\n// 십신 이름\nconst _SIPSIN_NAMES = ['비견','겁재','식신','상관','편재','정재','편관','정관','편인','정인'];\n\n// 입춘 날짜 (1960~2060 보정)\nconst _LICHUN = {\n  1960:5,1964:5,1968:5,1972:5,1976:5,1980:5,\n  2017:3,2021:3,2025:3,2029:3,2033:3,2037:3,2041:3,2045:3,2049:3,2050:3,2053:3,2057:3,\n};\nfunction _getLichunDay(year) { return _LICHUN[year] ?? 4; }\n\n// 절기 기본 테이블 (월지 결정용) — [month, defaultDay, branchIdx]\nconst _JEOLGI = [\n  [1, 6, 1 ],  // 소한 → 축\n  [2, 4, 2 ],  // 입춘 → 인\n  [3, 6, 3 ],  // 경칩 → 묘\n  [4, 5, 4 ],  // 청명 → 진\n  [5, 6, 5 ],  // 입하 → 사\n  [6, 6, 6 ],  // 망종 → 오\n  [7, 7, 7 ],  // 소서 → 미\n  [8, 7, 8 ],  // 입추 → 신\n  [9, 8, 9 ],  // 백로 → 유\n  [10,8, 10],  // 한로 → 술\n  [11,7, 11],  // 입동 → 해\n  [12,7, 0 ],  // 대설 → 자\n];\n\n/** 연도별 해당 절기의 정확한 day 반환 (saju-core의 JEOLGI_YEARLY 축약판 + 입춘은 LICHUN) */\nfunction _jeolgiDay(yearlyIdx, year) {\n  if (yearlyIdx === 1) return _getLichunDay(year); // 입춘\n  // 연도별 day 보정은 소한/경칩/입하/망종 5일 해, 청명/소서 4일·6일 해 일부만 실전 드리프트.\n  // 간이판으론 기본값 사용 (±1일 오차는 입춘만 사용자 출생에 임팩트, 나머지는 2026 월주 표에 영향).\n  return _JEOLGI[yearlyIdx][1];\n}\n\nfunction _monthBranchByJeolgi(year, month, day) {\n  // 역순으로 첫 매치되는 절기를 찾음 (가장 최근 지난 절기)\n  for (let i = _JEOLGI.length - 1; i >= 0; i--) {\n    const [jm, _, bi] = _JEOLGI[i];\n    const jd = _jeolgiDay(i, year);\n    if (month > jm || (month === jm && day >= jd)) return bi;\n  }\n  return 0; // 소한 전 → 전년 12월 자월\n}\n\nfunction _jdn(y, m, d) {\n  const a = Math.floor((14 - m) / 12);\n  const yy = y + 4800 - a;\n  const mm = m + 12 * a - 3;\n  return d + Math.floor((153 * mm + 2) / 5) + 365 * yy + Math.floor(yy / 4) - Math.floor(yy / 100) + Math.floor(yy / 400) - 32045;\n}\n\nfunction _pillar(stemIdx, branchIdx) {\n  return {\n    stemIdx, branchIdx,\n    stemKo: _STEMS_KO[stemIdx], stemHj: _STEMS_HJ[stemIdx],\n    branchKo: _BRANCHES_KO[branchIdx], branchHj: _BRANCHES_HJ[branchIdx],\n    stemElem: _STEMS_ELEM[stemIdx], branchElem: _BRANCHES_ELEM[branchIdx],\n  };\n}\n\nfunction _calcYearPillar(y, m, d) {\n  const lichunDay = _getLichunDay(y);\n  let yr = y;\n  if (m < 2 || (m === 2 && d < lichunDay)) yr -= 1;\n  const s = ((yr - 1924) % 10 + 10) % 10;\n  const b = ((yr - 1924) % 12 + 12) % 12;\n  return _pillar(s, b);\n}\n\nfunction _calcMonthPillar(y, m, d, yearStemIdx) {\n  const branchIdx = _monthBranchByJeolgi(y, m, d);\n  const startStem = _MONTH_START_STEM[yearStemIdx % 5];\n  const offset = (branchIdx - 2 + 12) % 12;\n  return _pillar((startStem + offset) % 10, branchIdx);\n}\n\nfunction _calcDayPillar(y, m, d) {\n  const jd = _jdn(y, m, d);\n  return _pillar(((jd + 9) % 10 + 10) % 10, ((jd + 1) % 12 + 12) % 12);\n}\n\nfunction _hourToBranchIdx(hour) {\n  if (hour >= 23) return 0;\n  return Math.floor((hour + 1) / 2);\n}\n\nfunction _calcHourPillar(hour, dayStemIdx) {\n  if (hour == null) return null;\n  const branchIdx = _hourToBranchIdx(hour);\n  const startStem = _HOUR_START_STEM[dayStemIdx % 5];\n  return _pillar((startStem + branchIdx) % 10, branchIdx);\n}\n\n/** 시간 입력 파싱 — \"묘시\" / \"05:30\" / \"6\" 전부 0~23 정수로 변환 */\nfunction _parseBirthTime(raw) {\n  if (raw == null) return undefined;\n  if (typeof raw === 'number') return raw;\n  if (typeof raw !== 'string') return undefined;\n  const branchKo = ['자','축','인','묘','진','사','오','미','신','유','술','해'];\n  const m = raw.match(/([자축인묘진사오미신유술해])시/);\n  if (m) {\n    const idx = branchKo.indexOf(m[1]);\n    // 자시=0, 축시=2, 인시=4 ... 해시=22 (각 지지의 중앙 시각)\n    // 대표값은 지지 start: 자=23(rollover), 축=1, 인=3, 묘=5, 진=7, 사=9, 오=11, 미=13,\n    // 신=15, 유=17, 술=19, 해=21. 여기선 자시 출생이면 dayRollover 처리를 위해 start시간 사용.\n    const starts = [23, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21];\n    return starts[idx] + 1; // 중간 시각 (ex 묘시 5~7 → 6)\n  }\n  const hm = raw.match(/^(\\d{1,2})(?::(\\d{2}))?$/);\n  if (hm) return parseInt(hm[1], 10);\n  const n = parseInt(raw, 10);\n  return Number.isFinite(n) ? n : undefined;\n}\n\n/** 십신 판정: dayStemIdx ↔ targetStemIdx */\nfunction _sipsin(dayStemIdx, targetStemIdx) {\n  const dayElem = _STEMS_ELEM[dayStemIdx];\n  const tgtElem = _STEMS_ELEM[targetStemIdx];\n  const dayYin = _STEMS_YIN[dayStemIdx];\n  const tgtYin = _STEMS_YIN[targetStemIdx];\n  const samePolarity = dayYin === tgtYin;\n  // gen: 목→화→토→금→수→목\n  const order = ['목','화','토','금','수'];\n  const di = order.indexOf(dayElem), ti = order.indexOf(tgtElem);\n  const diff = (ti - di + 5) % 5;\n  // 0=비겁, 1=식상, 2=재성, 3=관성, 4=인성\n  const table = [\n    samePolarity ? 0 : 1, // 같은 오행 → 비견/겁재\n    samePolarity ? 2 : 3, // 내가 생 → 식신/상관\n    samePolarity ? 4 : 5, // 내가 극 → 편재/정재\n    samePolarity ? 6 : 7, // 날 극 → 편관/정관\n    samePolarity ? 8 : 9, // 날 생 → 편인/정인\n  ];\n  return _SIPSIN_NAMES[table[diff]];\n}\n\n/** 대운 8기 (월주 기준, 성별×연간 음양으로 순/역행) */\nfunction _calcDaeun(yearPillar, monthPillar, dayPillar, gender, birthY, birthM, birthD) {\n  const yearStemYang = !_STEMS_YIN[yearPillar.stemIdx];\n  const isMale = gender === 'male' || gender === '남' || gender === 'M';\n  const forward = (isMale && yearStemYang) || (!isMale && !yearStemYang);\n\n  // 대운 시작 나이 — saju-advanced의 절기 일수 로직 대신 평균값 3으로 근사\n  // (실전 드리프트 ±2세. 정확 계산은 birth → 다음/이전 절기까지 일수 / 3)\n  const startAge = 3;\n\n  const result = [];\n  let s = monthPillar.stemIdx, b = monthPillar.branchIdx;\n  for (let i = 0; i < 8; i++) {\n    s = forward ? (s + 1) % 10 : (s - 1 + 10) % 10;\n    b = forward ? (b + 1) % 12 : (b - 1 + 12) % 12;\n    result.push({\n      startAge: startAge + i * 10,\n      endAge: startAge + i * 10 + 9,\n      stemKo: _STEMS_KO[s], stemHj: _STEMS_HJ[s],\n      branchKo: _BRANCHES_KO[b], branchHj: _BRANCHES_HJ[b],\n      stemElem: _STEMS_ELEM[s], branchElem: _BRANCHES_ELEM[b],\n      sipsin: _sipsin(dayPillar.stemIdx, s),\n    });\n  }\n  return { forward, startAge, periods: result };\n}\n\n/** 현재 나이에 해당하는 대운 */\nfunction _findCurrentDaeun(daeun, age) {\n  for (const p of daeun.periods) {\n    if (age >= p.startAge && age <= p.endAge) return p;\n  }\n  if (age < daeun.periods[0].startAge) return daeun.periods[0];\n  return daeun.periods[daeun.periods.length - 1];\n}\n\n/** 특정 연도의 세운 (年柱) */\nfunction _calcSeunYearPillar(year) {\n  // 세운 연주는 입춘 기준 — 올해 전체의 연주 하나\n  return _calcYearPillar(year, 6, 15); // 입춘 후 임의 날짜\n}\n\n/** 특정 연도의 월별 12개 세운 기둥 (각 월의 월지 + 월간) */\nfunction _calcMonthlySeun(year) {\n  const yearPillar = _calcSeunYearPillar(year);\n  const startStem = _MONTH_START_STEM[yearPillar.stemIdx % 5];\n  // 인월부터 시작: 1월(소한~입춘 경계는 전년), 2월(입춘 이후)부터 인월 시작\n  // 월지 순서: 2월=인(2), 3월=묘(3), ..., 1월=축(1)\n  // 간이 매핑: month 1 → 축(1), month 2 → 인(2), ..., month 12 → 자(0)\n  const monthToBranch = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0];\n  return monthToBranch.map((branchIdx, idx) => {\n    const offset = (branchIdx - 2 + 12) % 12;\n    const stemIdx = (startStem + offset) % 10;\n    return {\n      month: idx + 1,\n      stemKo: _STEMS_KO[stemIdx], stemHj: _STEMS_HJ[stemIdx],\n      branchKo: _BRANCHES_KO[branchIdx], branchHj: _BRANCHES_HJ[branchIdx],\n      stemElem: _STEMS_ELEM[stemIdx], branchElem: _BRANCHES_ELEM[branchIdx],\n    };\n  });\n}\n\n/** 메인: input → 완성된 사주 데이터 (PROFILE_BLOCK 주입용) */\nfunction computeSajuData(input) {\n  const { user, current_year } = input;\n  const [by, bm, bd] = user.birth_date.split('-').map((x) => parseInt(x, 10));\n  const bh = _parseBirthTime(user.birth_time);\n  const rolloverJa = bh !== undefined && bh >= 23;\n  const dayY = rolloverJa ? (bd === 31 ? by : by) : by;\n  // 간이 rollover는 생략 — 거의 대부분 영향 없음\n  const yearP  = _calcYearPillar(by, bm, bd);\n  const monthP = _calcMonthPillar(by, bm, bd, yearP.stemIdx);\n  const dayP   = _calcDayPillar(by, bm, bd);\n  const hourP  = _calcHourPillar(bh, dayP.stemIdx);\n\n  const elemCount = { '목':0,'화':0,'토':0,'금':0,'수':0 };\n  for (const p of [yearP, monthP, dayP, hourP]) {\n    if (!p) continue;\n    elemCount[p.stemElem]++;\n    elemCount[p.branchElem]++;\n  }\n\n  const daeun = _calcDaeun(yearP, monthP, dayP, user.gender, by, bm, bd);\n  const ageThisYear = current_year - by + 1; // 한국식 세는 나이\n  const currentDaeun = _findCurrentDaeun(daeun, ageThisYear);\n  const yearSeun = _calcSeunYearPillar(current_year);\n  const monthlySeun = _calcMonthlySeun(current_year);\n\n  return {\n    pillars: { year: yearP, month: monthP, day: dayP, hour: hourP },\n    day_master: {\n      stemKo: dayP.stemKo, stemHj: dayP.stemHj,\n      element: dayP.stemElem,\n      yin: _STEMS_YIN[dayP.stemIdx],\n    },\n    elem_count: elemCount,\n    age_this_year: ageThisYear,\n    daeun: {\n      direction: daeun.forward ? '순행(順行)' : '역행(逆行)',\n      startAge: daeun.startAge,\n      periods: daeun.periods,\n      current: currentDaeun,\n    },\n    year_seun: {\n      year: current_year,\n      stemKo: yearSeun.stemKo, stemHj: yearSeun.stemHj,\n      branchKo: yearSeun.branchKo, branchHj: yearSeun.branchHj,\n      stemElem: yearSeun.stemElem, branchElem: yearSeun.branchElem,\n    },\n    monthly_seun: monthlySeun,\n  };\n}\n\n// ────────────────────────────────────────────────────────────────────────────\n// 공통 상수\n// ────────────────────────────────────────────────────────────────────────────\n\nconst MODEL_SONNET = 'claude-sonnet-4-6';\nconst MODEL_HAIKU  = 'claude-haiku-4-5-20251001';\n\n/** FortuneTab 전역 금지어 (CLAUDE.md) */\nconst BANNED_TERMS = [\n  '퓨처매핑', 'Future Mapping',\n  '면역맵', 'Immunity Map',\n  '120% 행복', '120% happy',\n  'STEP 1', 'STEP 2', 'STEP 3', 'STEP 4', 'STEP 5', 'STEP 6',\n];\n\n/** FortuneTab 독자 용어 (권장) */\nconst FT_TERMS = [\n  'Fortune Score', 'GROW 4법', '발굴 세션', '운명 흐름',\n  '수확 장면', '지금 목소리', '실행 브레이크', '첫 싹', 'First Sprout',\n];\n\n// ────────────────────────────────────────────────────────────────────────────\n// System 프롬프트 (모든 Sonnet 호출에 공통, 정적)\n// ────────────────────────────────────────────────────────────────────────────\n\nconst SYSTEM_PROMPT = `당신은 한국 전통 사주명리학에 깊이 있는 해석가입니다.\n동양 명리(사주팔자·십신·신살·대운)를 기반으로, 개인의 구체적 상황에 닿는 조언을 합니다.\n\n[해석 원칙]\n1. 단정적 예언 금지. \"~할 수 있습니다\", \"~하는 경향이 있습니다\" 식으로 개연성 표현.\n2. 사주 분석은 참고 용도이며 전문 상담/의료/법률 결정을 대체하지 않음을 명심.\n3. 부정적 프레임 회피. 어려움이 있어도 \"어떻게 활용할 것인가\"로 제시.\n4. 구체적 실천 가능한 조언. 추상적 미사여구 지양.\n5. 한국어 경어체. 독자를 \"당신\"으로 칭함.\n\n[사주 기둥 · 절대 변경 금지]\n- 분석에 사용하는 4주8자·일간·대운·세운·월별 기둥은 이후 \"[확정 팔자]\" 블록에 제공된 값만 사용합니다.\n- 당신이 생년월일로부터 직접 계산하지 마십시오. 계산은 서버가 이미 수행했으며, 5개 섹션 전부 동일 값을 공유해야 합니다.\n- 제공된 값과 다른 기둥·일간·대운을 내러티브에 등장시키면 리포트 전체가 사실과 어긋납니다.\n\n[금지어 — 저작권 보호 원칙상 절대 사용 금지]\n${BANNED_TERMS.map((t) => `- \"${t}\"`).join('\\n')}\n\n[FortuneTab 독자 용어 — 사용 권장]\n${FT_TERMS.map((t) => `- ${t}`).join('\\n')}\n\n[출력 규칙]\n- 반드시 JSON 객체 하나만 반환. 설명/마크다운/코드펜스 금지.\n- 모든 텍스트 필드는 한국어. 한자는 괄호 병기 가능 (예: \"庚申(경신)\").\n- 문장은 완결형. \"~다.\" 또는 \"~습니다.\" 마무리.`;\n\n// ────────────────────────────────────────────────────────────────────────────\n// Profile 블록 빌더 (per-user, cacheable)\n// ────────────────────────────────────────────────────────────────────────────\n\n/**\n * 생년월일시 블록 + **서버가 확정한 팔자/대운/세운 테이블**을 주입한다.\n * Sonnet은 이 블록의 값만 사용해 해석을 생성한다 — 재계산 금지.\n * 캐시 가능하도록 고유 식별자(order_number)는 포함하지 않음.\n */\nfunction buildProfileBlock(input) {\n  const { user, current_year, current_date } = input;\n  const timeKo = typeof user.birth_time === 'number'\n    ? `${user.birth_time}시 (24시간제)`\n    : user.birth_time;\n  const genderKo = user.gender === 'male' ? '남자' : '여자';\n\n  const s = computeSajuData(input);\n  const fmt = (p) => p ? `${p.stemKo}${p.branchKo}(${p.stemHj}${p.branchHj})` : '시간 미상';\n  const daeunTable = s.daeun.periods\n    .map((p) => `  · ${p.startAge}~${p.endAge}세: ${p.stemKo}${p.branchKo}(${p.stemHj}${p.branchHj}) · ${p.stemElem}·${p.branchElem} · ${p.sipsin}${\n      p === s.daeun.current ? '  ← 올해(만 ' + (s.age_this_year - 1) + '세 / 세는나이 ' + s.age_this_year + ') 대운' : ''\n    }`).join('\\n');\n  const monthlyTable = s.monthly_seun\n    .map((m) => `  · ${m.month}월: ${m.stemKo}${m.branchKo}(${m.stemHj}${m.branchHj}) · ${m.stemElem}·${m.branchElem}`)\n    .join('\\n');\n  const elemBar = ['목','화','토','금','수'].map((e) => `${e}${s.elem_count[e]}`).join(' · ');\n\n  return `[분석 대상]\n- 이름: ${user.name}\n- 성별: ${genderKo}\n- 생년월일: ${user.birth_date} (양력)\n- 출생 시간: ${timeKo}\n\n[기준 시점]\n- 올해: ${current_year}년\n- 오늘: ${current_date}\n- 세는 나이 ${s.age_this_year}세 / 만 ${s.age_this_year - 1}세\n\n[확정 팔자 · 해석에 반드시 이 값만 사용]\n- 연주(年柱): ${fmt(s.pillars.year)} — 오행 ${s.pillars.year.stemElem}·${s.pillars.year.branchElem}\n- 월주(月柱): ${fmt(s.pillars.month)} — 오행 ${s.pillars.month.stemElem}·${s.pillars.month.branchElem}\n- 일주(日柱): ${fmt(s.pillars.day)} — 오행 ${s.pillars.day.stemElem}·${s.pillars.day.branchElem}\n- 시주(時柱): ${fmt(s.pillars.hour)}${s.pillars.hour ? ' — 오행 ' + s.pillars.hour.stemElem + '·' + s.pillars.hour.branchElem : ''}\n- **일간(日干) = ${s.day_master.stemKo}(${s.day_master.stemHj}) · ${s.day_master.element} · ${s.day_master.yin ? '음간' : '양간'}**\n- 오행 분포: ${elemBar}  (총 ${s.pillars.hour ? 8 : 6}자)\n\n[확정 대운(大運) · 순행 여부 ${s.daeun.direction}]\n${daeunTable}\n\n[확정 세운(歲運) · ${current_year}년]\n- 연주: ${s.year_seun.stemKo}${s.year_seun.branchKo}(${s.year_seun.stemHj}${s.year_seun.branchHj}) — ${s.year_seun.stemElem}·${s.year_seun.branchElem}\n- 월별 월주 (월건):\n${monthlyTable}\n\n[해석 지침]\n- 위 \"확정 팔자/대운/세운/월별 월주\" 값 외의 다른 기둥이나 일간을 사용하지 마십시오.\n- 용신·신살·합충형해 등 파생 분석은 위 확정값에서 당신의 명리 지식으로 도출합니다.\n- 섹션 간 일관성: 5개 섹션 모두 동일 일간(${s.day_master.stemKo})과 동일 대운(${s.daeun.current.stemKo}${s.daeun.current.branchKo})을 참조합니다.\n- 모르는 값은 null. 추측·재계산 금지.`;\n}\n\n// ────────────────────────────────────────────────────────────────────────────\n// 섹션별 유저 프롬프트\n// ────────────────────────────────────────────────────────────────────────────\n\nconst SECTION_PROMPTS = {\n\n  // ─── 1. 사주 구조 ─────────────────────────────────────────────────────\n  saju_core: `[작업]\n이 사람의 사주 구조를 분석하세요. 객관적 명리 구조 + 개인 성향 요약.\n\n[출력 JSON 스키마]\n{\n  \"four_pillars\": {\n    \"year\":  { \"hj\": \"한자\", \"ko\": \"한글\", \"element\": \"오행\" },\n    \"month\": { \"hj\": \"한자\", \"ko\": \"한글\", \"element\": \"오행\" },\n    \"day\":   { \"hj\": \"한자\", \"ko\": \"한글\", \"element\": \"오행\" },\n    \"hour\":  { \"hj\": \"한자\", \"ko\": \"한글\", \"element\": \"오행\" } | null\n  },\n  \"day_master\": {\n    \"stem\": \"일간 (예: 丁 정)\",\n    \"element\": \"오행\",\n    \"strength\": \"신강\" | \"신약\" | \"중화\",\n    \"description\": \"일간 성향 2-3문장\"\n  },\n  \"five_elements\": { \"wood\": 0, \"fire\": 0, \"earth\": 0, \"metal\": 0, \"water\": 0 },\n  \"yongsin\": {\n    \"element\": \"용신 오행\",\n    \"reason\": \"선정 근거 1-2문장\"\n  },\n  \"sipsin_highlight\": [\n    { \"position\": \"월간/일지/...\" , \"name\": \"정관/편재/...\", \"meaning\": \"사회적 의미 1문장\" }\n  ],\n  \"narrative\": \"500자 내외. 이 사주의 큰 그림과 타고난 에너지를 독자가 자기 이야기로 느낄 수 있게. 구체적 성향·강점·과제 포함.\"\n}`,\n\n  // ─── 2. 연간 전망 + 대운 ────────────────────────────────────────────\n  annual_outlook: `[작업]\n현재 대운 10년 흐름 + 올해 세운을 분석하세요. 독자가 \"올해 나는 어디에 있는가\"를\n선명히 이해할 수 있도록.\n\n[출력 JSON 스키마]\n{\n  \"current_daeun\": {\n    \"period\": \"25-34세 (예시)\",\n    \"pillar_hj\": \"乙酉\",\n    \"pillar_ko\": \"을유\",\n    \"theme\": \"이 10년의 주제 한 문장\",\n    \"opportunities\": [\"..\", \"..\", \"..\"],\n    \"challenges\": [\"..\", \"..\"],\n    \"transition_signs\": \"이 대운의 시작/중간/끝에서 감지될 변화 2-3문장\"\n  },\n  \"next_daeun_preview\": {\n    \"period\": \"다음 대운 나이대\",\n    \"pillar_hj\": \"한자\",\n    \"one_line\": \"한 줄 암시\"\n  },\n  \"annual_flow\": {\n    \"year\": 2026,\n    \"seun_pillar\": \"올해 세운 기둥 한자+한글\",\n    \"theme\": \"올해 주제\",\n    \"quarters\": {\n      \"q1\": \"1-3월 흐름 한 문장\",\n      \"q2\": \"4-6월 흐름 한 문장\",\n      \"q3\": \"7-9월 흐름 한 문장\",\n      \"q4\": \"10-12월 흐름 한 문장\"\n    },\n    \"key_months\": [\n      { \"month\": 3, \"why\": \"왜 중요한지 한 문장\", \"action\": \"권장 행동\" }\n    ]\n  },\n  \"narrative\": \"600자 내외. 10년 큰 물결 안에서 올해의 위치를 그려줄 것. 거시→미시 순서.\"\n}`,\n\n  // ─── 3. 월별 세운 12개 ────────────────────────────────────────────────\n  monthly_seun: `[작업]\n올해 1월부터 12월까지 매월의 세운을 분석하세요. 플래너 월간 페이지에 삽입될\n사이드바 형태로.\n\n[출력 JSON 스키마]\n{\n  \"months\": [\n    {\n      \"month\": 1,\n      \"seun_pillar_ko\": \"해당 월주 (예: 경인)\",\n      \"energy\": \"이 달의 기운 한 문장 (20자 이내)\",\n      \"focus\": \"집중할 영역 1문장\",\n      \"watch_out\": \"주의할 점 1문장\",\n      \"keyword\": \"핵심 키워드 (2-4자, 예: '인연', '정비', '수확')\",\n      \"color_tone\": \"이 달의 색감 한 단어 (예: '깊은 남색', '따뜻한 황토')\"\n    }\n    // ... 2월부터 12월까지 동일 구조, 총 12개\n  ]\n}\n\n[엄수]\n- months 배열은 반드시 12개. 1월~12월 순서.\n- 각 달의 keyword는 서로 겹치지 않게.\n- 전체 흐름에 내러티브 arc가 있게 (시작→축적→전환→결실→정리).`,\n\n  // ─── 4. 행동 가이드 (GROW 4법) ─────────────────────────────────────────\n  action_guide: `[작업]\n이 사주 프로필에 맞는 올해 실행 가이드를 GROW 4법(FortuneTab 독자 용어)으로\n구성하세요. 추상적 조언이 아닌 이번 주/이번 달에 시도할 수 있는 구체적 행동.\n\n[출력 JSON 스키마]\n{\n  \"grow_four\": {\n    \"goal\": {\n      \"title\": \"목표 설정 — 올해 당신이 닿을 곳\",\n      \"items\": [\"행동 가능한 목표 3-4개\"]\n    },\n    \"reality\": {\n      \"title\": \"현재 지점 — 사주가 보여주는 당신의 지금\",\n      \"items\": [\"현실 직시 항목 3-4개\"]\n    },\n    \"options\": {\n      \"title\": \"선택지 — 사주 구조가 열어주는 길\",\n      \"items\": [\"구체적 경로 3-4개\"]\n    },\n    \"will\": {\n      \"title\": \"결심 — 첫 7일 실행안\",\n      \"items\": [\"오늘/이번 주 실천 사항 3-4개\"]\n    }\n  },\n  \"weekly_habits\": [\n    { \"day\": \"월\", \"habit\": \"이 사주에 맞는 주간 루틴\" },\n    { \"day\": \"수\", \"habit\": \"...\" },\n    { \"day\": \"금\", \"habit\": \"...\" },\n    { \"day\": \"일\", \"habit\": \"...\" }\n  ],\n  \"first_sprout\": \"첫 싹 (First Sprout) — 지금 바로 3분 안에 할 수 있는 한 가지. 구체적 동작 1문장.\"\n}\n\n[엄수]\n- 모든 items는 실행 동사로 시작 (\"~하기\", \"~쓰기\", \"~만나기\").\n- 추상적 단어(성장, 발전, 변화) 단독 사용 금지 → 구체 행동으로.\n- first_sprout은 반드시 3분 이내 실행 가능한 것.`,\n\n  // ─── 5. 핵심 통찰 + 경고 ─────────────────────────────────────────────\n  insight_highlight: `[작업]\n이 리포트 전체에서 독자가 가장 오래 기억해야 할 것 3가지 + 주의할 점을 뽑으세요.\n리포트 첫 페이지 또는 요약 카드에 들어갈 내용.\n\n[출력 JSON 스키마]\n{\n  \"top_insights\": [\n    {\n      \"title\": \"통찰 제목 (12자 이내)\",\n      \"body\": \"100자 내외 설명. 독자 스스로 '맞다, 이게 나다'라 느낄 수준의 구체성.\"\n    }\n    // 정확히 3개\n  ],\n  \"watchouts\": [\n    {\n      \"area\": \"영역 (건강/재물/관계/업무 등)\",\n      \"caution\": \"주의 사항 1문장\",\n      \"timing\": \"언제 주의할지 (예: '6월~8월', '대운 후반기')\"\n    }\n    // 2-3개\n  ],\n  \"one_line\": \"이 사람의 올해를 한 줄로 요약 — 30자 이내. 독자가 포스트잇에 써서 붙여둘 수 있게.\"\n}\n\n[엄수]\n- top_insights는 정확히 3개.\n- 각 insight는 서로 다른 축을 건드릴 것 (예: 성격/관계/시기).\n- one_line은 명사형 또는 동사형. 설교체 금지.`,\n};\n\n// ────────────────────────────────────────────────────────────────────────────\n// Sonnet 요청 빌더\n// ────────────────────────────────────────────────────────────────────────────\n\n/**\n * 5개 Sonnet 섹션 중 하나에 대한 Anthropic API request body 생성.\n *\n * @param {'saju_core'|'annual_outlook'|'monthly_seun'|'action_guide'|'insight_highlight'} section\n * @param {object} input  ReportInput (위 JSDoc 참조)\n * @returns {object} Anthropic /v1/messages POST body\n */\nfunction buildSonnetRequest(section, input) {\n  if (!SECTION_PROMPTS[section]) {\n    throw new Error(`Unknown section: ${section}`);\n  }\n  return {\n    model: MODEL_SONNET,\n    max_tokens: section === 'monthly_seun' ? 8000 : 5000,\n    temperature: 0.7,\n    system: [\n      { type: 'text', text: SYSTEM_PROMPT },\n      {\n        type: 'text',\n        text: buildProfileBlock(input),\n        cache_control: { type: 'ephemeral' },\n      },\n    ],\n    messages: [\n      { role: 'user', content: SECTION_PROMPTS[section] },\n    ],\n  };\n}\n\n// ────────────────────────────────────────────────────────────────────────────\n// Haiku 검수 패스 (6번째 호출)\n// ────────────────────────────────────────────────────────────────────────────\n\nconst HAIKU_REVIEW_SYSTEM = `당신은 FortuneTab 리포트 편집 검수자입니다.\n5개 섹션의 JSON을 받아 다음을 검증하고 수정합니다.\n\n[검증 항목]\n1. 금지어 포함 여부 — 포함 시 의미 보존하며 교체.\n   금지: ${BANNED_TERMS.join(', ')}\n2. 모든 narrative/설명 필드에 단정적 예언 없는지 (\"~할 것이다\", \"반드시\", \"틀림없이\" 검출).\n3. JSON 스키마 유효성 — 필수 필드 누락/타입 오류 찾기.\n4. monthly_seun.months 배열 12개 확인.\n5. top_insights 정확히 3개 확인.\n\n[출력 규칙]\n- 반드시 JSON 하나만 반환. 설명 금지.\n- 수정이 필요하면 fixed_sections에 교체된 섹션만 포함.\n- 수정 불필요면 fixed_sections: {}.`;\n\n/**\n * 5개 Sonnet 섹션 결과를 받아 검수 Haiku 요청 생성.\n *\n * @param {object} sections  { saju_core, annual_outlook, monthly_seun, action_guide, insight_highlight }\n * @returns {object} Anthropic /v1/messages POST body\n */\nfunction buildHaikuReviewRequest(sections) {\n  const userPrompt = `[검수 대상]\n${JSON.stringify(sections, null, 2)}\n\n[출력 JSON 스키마]\n{\n  \"ok\": true | false,\n  \"issues\": [\n    { \"section\": \"saju_core\" | ..., \"problem\": \"..\", \"severity\": \"low\" | \"med\" | \"high\" }\n  ],\n  \"fixed_sections\": {\n    // 문제 있는 섹션만 완전한 새 JSON으로 교체 (원본 스키마 유지).\n    // 문제 없으면 빈 객체 {}.\n  }\n}`;\n\n  return {\n    model: MODEL_HAIKU,\n    max_tokens: 8000,\n    temperature: 0.2,\n    system: HAIKU_REVIEW_SYSTEM,\n    messages: [{ role: 'user', content: userPrompt }],\n  };\n}\n\n// ────────────────────────────────────────────────────────────────────────────\n// Claude 응답 파서 (JSON 추출)\n// ────────────────────────────────────────────────────────────────────────────\n\n/**\n * Anthropic API 응답에서 JSON 본문만 추출. 간혹 모델이 코드펜스를 붙이면 제거.\n * @param {object} apiResponse  /v1/messages 응답\n * @returns {object} 파싱된 JSON 객체\n */\nfunction extractJson(apiResponse) {\n  const text = apiResponse?.content?.[0]?.text ?? '';\n  const cleaned = text\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/```\\s*$/i, '')\n    .trim();\n  return JSON.parse(cleaned);\n}\n\n/**\n * Haiku 검수 결과를 Sonnet 5개 섹션에 머지. fixed_sections에 있는 건 교체.\n * @param {object} sonnetSections  5개 섹션 원본\n * @param {object} haikuReview     Haiku 파싱된 JSON\n * @returns {object} 최종 5개 섹션\n */\nfunction applyHaikuReview(sonnetSections, haikuReview) {\n  if (!haikuReview || haikuReview.ok === true) return sonnetSections;\n  const fixed = haikuReview.fixed_sections || {};\n  return { ...sonnetSections, ...fixed };\n}\n\n// ────────────────────────────────────────────────────────────────────────────\n// Exports — n8n Code 노드에선 return으로, Node.js에선 module.exports로\n// ────────────────────────────────────────────────────────────────────────────\n\n// ═══════════════════════════════════════════════════════════════════════════\n// n8n Code node entry: take ReportInput → produce 5 Sonnet request bodies\n// ═══════════════════════════════════════════════════════════════════════════\nconst input = $json;\nconst sections = ['saju_core','annual_outlook','monthly_seun','action_guide','insight_highlight'];\nreturn sections.map((s) => ({ json: { section: s, request: buildSonnetRequest(s, input) } }));\n"
      },
      "id": "node-build-requests",
      "name": "5개 Sonnet 요청 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "anthropic-beta",
              "value": "prompt-caching-2024-07-31"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.request) }}",
        "options": {
          "timeout": 120000,
          "retry": {
            "maxRetries": 2
          }
        }
      },
      "id": "node-claude-sonnet",
      "name": "Claude Sonnet 4.6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        320
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// 5개 Sonnet 응답 집계 (HTTP Request가 input을 덮어쓰므로 원본 참조로 section 매칭)\nconst apiResps = $input.all();\nconst origs = $('5개 Sonnet 요청 생성').all();\n\nconst sections = {};\nlet orderId = null, orderNumber = null, callback = null;\n\nfunction extractJson(text) {\n  // 1) 코드펜스 제거\n  let t = text.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```\\s*$/i, '').trim();\n  // 2) 첫 { 부터 마지막 } 까지 탐욕 추출 (앞뒤 prose 무시)\n  const s = t.indexOf('{');\n  const e = t.lastIndexOf('}');\n  if (s === -1 || e === -1 || e <= s) throw new Error('JSON 블록 없음');\n  return JSON.parse(t.slice(s, e + 1));\n}\n\nfor (let i = 0; i < apiResps.length; i++) {\n  const section = origs[i]?.json?.section ?? `unknown-${i}`;\n  orderId = origs[i]?.json?.order_id ?? orderId;\n  orderNumber = origs[i]?.json?.order_number ?? orderNumber;\n  callback = origs[i]?.json?.callback ?? callback;\n\n  const api = apiResps[i].json;\n  const text = api.content?.[0]?.text ?? api.body?.content?.[0]?.text ?? '';\n  if (!text) throw new Error(`섹션 '${section}' 응답 text 없음. api keys=${Object.keys(api).join(',')}`);\n\n  try {\n    sections[section] = extractJson(text);\n  } catch (err) {\n    throw new Error(`섹션 '${section}' 파싱 실패: ${err.message}\\n응답 앞 300자: ${text.slice(0, 300)}`);\n  }\n}\n\nreturn [{ json: { order_id: orderId, order_number: orderNumber, callback, sections } }];"
      },
      "id": "node-aggregate-sonnet",
      "name": "Sonnet 결과 집계",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        320
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Haiku 검수 요청 생성\nconst MODEL_HAIKU = 'claude-haiku-4-5-20251001';\nconst BANNED = ['퓨처매핑','Future Mapping','면역맵','Immunity Map','120% 행복','120% happy'];\n\nconst HAIKU_SYSTEM = `당신은 FortuneTab 리포트 편집 검수자입니다.\n[검증] 1) 금지어 [${BANNED.join(', ')}] 교체  2) 단정적 예언 완화  3) 스키마 유효성  4) monthly_seun 12개  5) top_insights 3개\n[출력 JSON only]\n{\"ok\":true|false,\"issues\":[{\"section\":\"\",\"problem\":\"\",\"severity\":\"low|med|high\"}],\"fixed_sections\":{}}`;\n\nconst sections = $input.item.json.sections;\nconst userPrompt = `[검수 대상]\\n${JSON.stringify(sections, null, 2)}`;\n\nreturn [{\n  json: {\n    order_id: $input.item.json.order_id,\n    order_number: $input.item.json.order_number,\n    callback: $input.item.json.callback,\n    sections,\n    request: {\n      model: MODEL_HAIKU,\n      max_tokens: 8000,\n      temperature: 0.2,\n      system: HAIKU_SYSTEM,\n      messages: [{ role: 'user', content: userPrompt }],\n    },\n  },\n}];"
      },
      "id": "node-build-haiku",
      "name": "Haiku 검수 요청 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.request) }}",
        "options": {
          "timeout": 60000,
          "retry": {
            "maxRetries": 1
          }
        }
      },
      "id": "node-claude-haiku",
      "name": "Claude Haiku 검수",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        320
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Haiku 결과 적용 + 최종 섹션 확정\nconst apiResp = $input.item.json;\nconst text = apiResp.content?.[0]?.text ?? '';\nconst cleaned = text.replace(/^```json\\s*/i,'').replace(/^```\\s*/i,'').replace(/```\\s*$/i,'').trim();\n\nlet review = { ok: true, fixed_sections: {}, issues: [] };\ntry { review = JSON.parse(cleaned); }\ncatch (e) { console.warn('[haiku-review] 파싱 실패, 원본 섹션 사용:', e.message); }\n\nconst prev = $('Haiku 검수 요청 생성').first().json;\nconst merged = { ...prev.sections, ...(review.fixed_sections ?? {}) };\n\nreturn [{\n  json: {\n    order_id: prev.order_id,\n    order_number: prev.order_number,\n    callback: prev.callback,\n    review_issues: review.issues ?? [],\n    sections: merged,\n  },\n}];"
      },
      "id": "node-apply-haiku",
      "name": "Haiku 결과 적용",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        320
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// pdf_server /reports/render 요청 페이로드 구성\nconst s = $input.item.json.sections;\nconst orig = $('ReportInput 구성').first().json.report_input;\n\nconst payload = {\n  order_id: $input.item.json.order_id,\n  order_number: $input.item.json.order_number,\n  user: orig.user,\n  meta: {\n    current_year: orig.current_year,\n    issued_at: new Date().toLocaleDateString('ko-KR', { year:'numeric', month:'long', day:'numeric' }),\n  },\n  saju_core: s.saju_core,\n  annual_outlook: s.annual_outlook,\n  monthly_seun: s.monthly_seun,\n  action_guide: s.action_guide,\n  insight_highlight: s.insight_highlight,\n};\n\nreturn [{\n  json: {\n    order_id: $input.item.json.order_id,\n    order_number: $input.item.json.order_number,\n    callback: $input.item.json.callback,\n    sections: s,\n    review_issues: $input.item.json.review_issues,\n    render_payload: payload,\n  },\n}];"
      },
      "id": "node-build-render",
      "name": "렌더 페이로드 구성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PDF_SERVER_URL }}/reports/render",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Render-Secret",
              "value": "={{ $env.REPORT_RENDER_SECRET ?? '' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.render_payload) }}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "pdf"
            }
          }
        }
      },
      "id": "node-render-pdf",
      "name": "pdf_server /reports/render",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        520
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// readWriteFile 노드 대체 — Code 노드에서 직접 fs.writeFileSync\n// n8n 1.x readWriteFile의 'not writable' 우회. /reports는 호스트 /volume1/docker/fortunetab/reports 마운트됨.\nconst fs = require('fs');\nconst path = require('path');\n\nconst orderId = $input.item.json.order_id;\nconst accessToken = $('Webhook · from Supabase').first().json.body?.access_token;\nif (!orderId) throw new Error('order_id 없음');\nif (!accessToken) throw new Error('access_token 누락 (capability URL)');\n\n// n8n Code 노드 헬퍼: binary를 Buffer로 가져옴\nconst buf = await this.helpers.getBinaryDataBuffer(0, 'pdf');\nif (!buf || buf.length < 1000) {\n  throw new Error(`PDF 바이너리 이상: size=${buf?.length ?? 0}`);\n}\n\nconst filePath = `/reports/${orderId}_${accessToken}.pdf`;\nfs.writeFileSync(filePath, buf);\n\nreturn [{\n  json: {\n    ...$input.item.json,\n    nas_file_path: filePath,\n    nas_bytes: buf.length,\n  },\n}];"
      },
      "id": "node-write-file",
      "name": "NAS 저장 (Code + fs)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        520
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Supabase REST PATCH 페이로드 (orders.report_file_url + report_json)\nconst order_id = $('렌더 페이로드 구성').first().json.order_id;\nconst access_token = $('Webhook · from Supabase').first().json.body?.access_token;\nif (!access_token) throw new Error('access_token 누락 (capability URL)');\nconst sections = $('렌더 페이로드 구성').first().json.sections;\nconst reviewIssues = $('렌더 페이로드 구성').first().json.review_issues;\n\n// NAS 파일의 외부 접근 URL — 사용자 환경 맞춤 (예: 리버스 프록시 /r/<order>.pdf)\nconst NAS_PUBLIC_BASE = $env.NAS_REPORT_PUBLIC_BASE ?? 'https://reports.fortunetab.com/r';\nconst publicUrl = `${NAS_PUBLIC_BASE}/${order_id}_${access_token}.pdf`;\n\nreturn [{\n  json: {\n    order_id,\n    callback: $('렌더 페이로드 구성').first().json.callback,\n    patch_body: {\n      report_file_url: publicUrl,\n      report_json: { ...sections, _review_issues: reviewIssues ?? [] },\n    },\n  },\n}];"
      },
      "id": "node-build-patch",
      "name": "Supabase PATCH 구성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        520
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://cwnzezlgtcqkmnyojhbd.supabase.co/rest/v1/orders?id=eq.{{ $json.order_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_FT_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_FT_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.patch_body) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-supabase-patch",
      "name": "Supabase UPDATE orders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Supabase PATCH 구성').first().json.callback.send_email_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_FT_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_FT_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ order_id: $('Supabase PATCH 구성').first().json.order_id }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "node-send-email",
      "name": "send-report-email 콜백",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        520
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, order_id: $('Supabase PATCH 구성').first().json.order_id }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-respond",
      "name": "Webhook 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1560,
        520
      ]
    }
  ],
  "connections": {
    "Webhook · from Supabase": {
      "main": [
        [
          {
            "node": "HMAC 검증",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HMAC 검증": {
      "main": [
        [
          {
            "node": "ReportInput 구성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReportInput 구성": {
      "main": [
        [
          {
            "node": "5개 Sonnet 요청 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5개 Sonnet 요청 생성": {
      "main": [
        [
          {
            "node": "Claude Sonnet 4.6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet 4.6": {
      "main": [
        [
          {
            "node": "Sonnet 결과 집계",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sonnet 결과 집계": {
      "main": [
        [
          {
            "node": "Haiku 검수 요청 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Haiku 검수 요청 생성": {
      "main": [
        [
          {
            "node": "Claude Haiku 검수",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Haiku 검수": {
      "main": [
        [
          {
            "node": "Haiku 결과 적용",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Haiku 결과 적용": {
      "main": [
        [
          {
            "node": "렌더 페이로드 구성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "렌더 페이로드 구성": {
      "main": [
        [
          {
            "node": "pdf_server /reports/render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pdf_server /reports/render": {
      "main": [
        [
          {
            "node": "NAS 저장 (Code + fs)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NAS 저장 (Code + fs)": {
      "main": [
        [
          {
            "node": "Supabase PATCH 구성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase PATCH 구성": {
      "main": [
        [
          {
            "node": "Supabase UPDATE orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase UPDATE orders": {
      "main": [
        [
          {
            "node": "send-report-email 콜백",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send-report-email 콜백": {
      "main": [
        [
          {
            "node": "Webhook 응답",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "description": "FortuneTab 유료 사주 심층 리포트 자동 생성 파이프라인 (Phase 2).\n결제→confirm-payment→generate-premium-report→이 워크플로→pdf_server→send-report-email.\n상세 설치 가이드: n8n/README.md"
  }
}